.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
/*/.DS_Store
*/.DS_Store
code/.DS_Store
Rplot.pdf
ct_counties.pdf
/data/*.RData
/misc_info
/old_items
*.RData
temp*.*
**/.DS_Store

# knitr and R markdown default cache directories
*_cache/
/cache/

# following suggested by check_site()
\\.Rmd$
\\.Rmarkdown$
_cache$
\\.knit\\.md$
\\.utf8\\.md$
Thumbs.db
/resources/
